<div class="main-area container">
    <h3>About</h3>
    <h1>Why trade with Alert?</h1>

    <p>With 5+ years of combined experience, you're in the best of hands.<br> Our goal at Alert Trading is to work to create exciting and accessible opportunities to our public global audience. Taking a bespoke approach to both the markets and general business
        practices, we work with our clients on an individual basis building personal and professional relationships.</p>
</div>

<div class="footer">
    <div class="socials">
        <img src="../../assets/img/facebook.svg" alt="facebook">
        <a href="http://www.instagram.com/alert.trading"><img src="../../assets/img/instagram.svg" alt="instagram"></a>
        <img src="../../assets/img/youtube.svg" alt="youtube">
    </div>
    <p>
        There is a substantial risk of loss in trading commodity futures, options and off-exchange<br> foreign currency products. Past performance is not indicative of future results. <br>
        <br> &copy; 2020 | ALERT TRADING LIMITED | All Rights Reserved
    </p>
</div>