.main-area {
    display: block;
    height: 120rem;
    p {
        max-width: 640px;
        line-height: 2rem;
        i {
            color: grey;
        }
    }
    h2 {
        font-weight: 300;
    }
    h3 {
        max-width: 640px;
        font-weight: 200;
        margin-top: 15px;
        border-bottom: 1px solid #e10;
        display: inline-flex;
    }
    h1 {
        max-width: 640px;
        font-weight: 350;
        margin-bottom: 15px;
    }
    #mt4 {
        border-radius: 10%;
    }
    #mt5 {
        margin-left: 15px;
        border-radius: 10%;
    }
    .iphone {
        height: 256px;
    }
    .mt4 {
        height: 150px;
    }
    @media (min-width: 576px) {
        .mt4 {
            height: 192px;
        }
    }
    @media (min-width: 768px) {
        .mt4 {
            height: 256px;
        }
    }
}

.m-top {}

.isLeft {
    text-align: left;
    float: left;
}

.isRight {
    text-align: right;
    float: right;
}

.innersection {
    margin-top: 100px;
}

.section {
    position: relative;
    margin-top: 100px;
    display: block;
    &::before {
        content: '';
        display: block;
        border-bottom: 1px solid #e10;
        width: auto;
        margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
    .section {
        margin-top: 60px;
    }
}

span {
    margin-top: 26px;
    z-index: 1;
}

.cta {
    float: left;
    z-index: 1;
    color: black;
    border: 2px solid white;
    border-radius: 30px;
    padding: 16px 64px;
    transition: all 500ms;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
    &:hover {
        text-decoration: none;
        background-color: black;
        color: white;
        transition: all 500ms;
    }
}