<div class="main-area">
    <div class="container">

        <div class="isLeft">
            <h3>About</h3>
            <h1>Why trade with Alert?</h1>

            <p>Our goal at Alert Trading is to work to present exciting and accessible trading and learning opportunities to a public global audience. Taking a bespoke approach to both the markets and general business practices, we work with our clients
                on an individual basis building personal and professional relationships.</p>
        </div>
        <div class="isRight">
            <h1 class="isLeft m-top">How do I get started?</h1>
            <div class="section">
                <h1>Account Setup & Deposit</h1>
                <h2 class="isLeft">Step 1:</h2>

                <p>An initial deposit from £300 to £3000 will be required for any client.<br><i>*Only a small % will be at risk per trade.*</i><br>We provide 1 on 1 support to help you get setup and familiarise yourself with our partnered trading broker
                    <strong>AvaTrade</strong> and start placing trades.</p>

            </div>


        </div>

        <div class="isLeft section">
            <h1>Client Setup</h1>
            <h2 class="isRight">Step 2:</h2>

            <p>Download the <strong>MetaTrader</strong> app from the <a href="https://apps.apple.com/gb/app/metatrader-4/id496212596">App Store</a> or <a href="https://play.google.com/store/apps/details?id=net.metaquotes.metatrader4&hl=en_GB">Goole Play</a>.
                (Links provided.)</p>

            <img class="mt4" src="../../assets/img/mt4collectionlogo.png" alt="" height="" width="">
            <!-- <img class="iphone" src="../../assets/img/iPhone-7-metatrader-4.png" alt="" height="" width="">
            <img src="../../assets/img/mt4.png" alt="MetaTrader4" id="mt4" height="96" width="96"> -->
            <!-- <img src="../../assets/img/mt5.png" alt="MetaTrader5" id="mt5" height="128" width="128"> -->


        </div>
        <div class="isRight section">
            <h1>Signals & Analysis Group</h1>
            <h2 class="isLeft">Step 3:</h2>

            <p>Then you'll be added to our clients trading group. <br>Where we provide daily trading signals for you to place throughout the day. Whilst placing trades and taking profit, analysis will be sent.</p>
            <!-- <div><a routerLink="/about" class="cta">
                Contact Us
            </a></div> -->

        </div>
        <div class="isLeft section">
            <h1>Get in contact with us to get started!</h1>
            <p>Contact us via WhatsApp or Telagram via the link below.</p>
            <div><a routerLink="/contact" class="cta">
                Contact Us
            </a></div>

        </div>



    </div>


</div>

<div class="footer">
    <div class="socials">
        <img src="../../assets/img/facebook.svg" alt="facebook">
        <a href="http://www.instagram.com/alert.trading"><img src="../../assets/img/instagram.svg" alt="instagram"></a>
        <img src="../../assets/img/youtube.svg" alt="youtube">
    </div>
    <p>
        There is a substantial risk of loss in trading commodity futures, options and off-exchange<br> foreign currency products. Past performance is not indicative of future results. <br>
        <br> &copy; 2020 | ALERT TRADING LIMITED | All Rights Reserved
    </p>
</div>