<div class="main-area">
    <div class="container">
        <h1>Contact Us</h1>
        <p>Please feel free to get in touch with us (you must be 18 or over).</p>
        <div class="actions">

            <div class="whatsapp">

            </div>
            <div class="email">

            </div>
            <div class="messenger">

            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="socials">
        <img src="../../assets/img/facebook.svg" alt="facebook">
        <a href="http://www.instagram.com/alert.trading"><img src="../../assets/img/instagram.svg" alt="instagram"></a>
        <img src="../../assets/img/youtube.svg" alt="youtube">
    </div>

    <p>
        There is a substantial risk of loss in trading commodity futures, options and off-exchange<br> foreign currency products. Past performance is not indicative of future results. <br>
        <br> &copy; 2020 | ALERT TRADING LIMITED | All Rights Reserved
    </p>
</div>