.topnav {
    .primaryAT {
        font-family: Typograph Pro;
        font-size: 2rem;
        color: #e10;
        line-height: 1.4;
    }
    .secondaryAT {
        font-family: Typograph Pro Light;
        font-size: 1.475rem;
        text-transform: uppercase;
        line-height: 1rem;
    }
    .brandicon {
        top: 5px;
        height: 32px;
        margin-bottom: 12px;
    }
    display: block;
    flex-wrap: nowrap;
    flex-direction: row;
}

.actions {
    float: right;
    margin-right: 8px;
    margin-top: 2px;
    a {}
    .btn {
        margin-left: 50px;
        font-size: 1.175rem;
        color: black;
        text-transform: uppercase;
        line-height: 1.375;
        border-bottom: 1px solid grey;
        border-radius: 0;
        .btn:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
        &:hover {
            outline: 0;
        }
    }
}

.content {
    transition: all 500ms;
}