<div class="nav">
    <div class="container">
        <header class="topnav">
            <div class="brand-container" routerLink="/home">
                <span class="primaryAT">Alert</span>

                <img src="assets/img/alert-icon.png" alt="Alert Trading Ltd." class="brandicon">
                <span class="secondaryAT">Trading</span>
            </div>
            <div class="actions">
                <a class="btn" routerLink="/home" routerLinkActive="active">Home</a>
                <a class="btn" routerLink="/about" routerLinkActive="active">About</a>
                <!-- <a class="btn" routerLink="/pricing" routerLinkActive="active">Services</a> -->
                <a class="btn" routerLink="/contact" routerLinkActive="active">Contact</a>
            </div>
        </header>

    </div>
</div>
<div class="content">
    <main [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </main>
</div>