<div class="nav-back">
    <div class="container">
        <header class="topnav">
            <span class="primaryAT">Alert</span>

            <img src="assets/img/alert-icon.png" alt="Alert Trading Ltd." class="brandicon">
            <span class="secondaryAT">Trading</span>
            <span class="actions">
                <a routerLink="/home"><button class="btn">Home</button></a>
                <a routerLink="/about"><button class="btn">About Us</button></a>
                <a routerLink="/pricing"><button class="btn">Services</button></a>
            </span>
        </header>

    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>