.topnav {
    .primaryAT {
        font-family: Typograph Pro;
        font-size: 2rem;
        color: #e10;
        line-height: 1.4;
    }
    .secondaryAT {
        font-family: Typograph Pro Light;
        font-size: 1.475rem;
        text-transform: uppercase;
        line-height: 1rem;
    }
    .brandicon {
        top: 5px;
        height: 32px;
        margin-bottom: 12px;
    }
    .brand-container {
        display: inline;
    }
    display: block;
    flex-wrap: nowrap;
    flex-direction: column;
    @media (max-width: 767px) {
        .brand-container {
            display: block;
            text-align: center;
        }
    }
}

.actions {
    float: right;
    margin-right: 8px;
    margin-top: 2px;
    @media (max-width: 767px) {
        float: none;
        text-align: center;
        margin: 0;
    }
    .btn {
        &:first-child {
            @media (max-width: 767px) {
                margin-left: 0px;
            }
        }
        @media (max-width: 512px) {
            margin-left: 20px;
        }
        @media (max-width: 991px) {
            margin-left: 25px;
        }
        margin-left: 50px;
        font-size: 1.175rem;
        color: black;
        text-transform: uppercase;
        line-height: 1.375;
        border-bottom: 1px solid grey;
        border-radius: 0;
        outline: none;
        &:focus {
            box-shadow: none;
        }
    }
}

.content {
    transition: all 500ms;
}