<div class="container">
    <header class="topnav">
        <span class="primaryAT">Alert</span>

        <img src="assets/img/alert-icon.png" alt="Alert Trading Ltd." class="brandicon">


        <span class="secondaryAT">Trading</span>
        <span class="actions">
            <a href="/home"><button class="btn">Home</button></a>
            <a href="/about"><button class="btn">About Us</button></a>
            <button (click)="services" class="btn">Services</button>
        </span>
    </header>
</div>

<router-outlet></router-outlet>