/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Typograph Pro Light;
    src: url(TYPOGRAPH-PRO-Light.ttf);
}

@font-face {
    font-family: Typograph Pro;
    src: url(TYPOGRAPH-PRO-SemiBold.ttf);
}

.nav-back {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}