<div class="main-area">
    <span class="inner-content">
        <h1>MAXIMIZE YOUR TRADING<br> POTENTIAL
        </h1>
        <div><a routerLink="/about" class="cta">
                LEARN MORE
        </a></div>
    <div class="signup"><a href="https://tracking.avapartner.com/click/?affid=84109&lpId=21592&adTheme=25&campaign=99282&campaignName=Default%20Campaign&tag=84109&TargetUrl=https%3A%2F%2Fwww.avatrade.com%2Flp%2Fglobal-markets" class="cta">
                    SIGN UP NOW
        </a></div>
    </span>

</div>
<div class="background">
    <video class="bg-video" [muted]="true" autoplay loop>
        <source src="assets/video/videoplayback.mp4" type="video/mp4">
    </video>
</div>
<div class="footer">
    <div class="socials">
        <img src="../../assets/img/facebook.svg" alt="facebook">
        <a href="http://www.instagram.com/alert.trading"><img src="../../assets/img/instagram.svg" alt="instagram"></a>
        <img src="../../assets/img/youtube.svg" alt="youtube">
    </div>

    <p>
        There is a substantial risk of loss in trading commodity futures, options and off-exchange<br> foreign currency products. Past performance is not indicative of future results. <br>
        <br> &copy; 2020 | ALERT TRADING LIMITED | All Rights Reserved
    </p>
</div>