<div class="main-area">
    <span class="inner-content">
        <h1>MAXIMIZE YOUR TRADING<br> POTENTIAL
        </h1>
        <span><a routerLink="/about" class="learnmore">
                LEARN HOW
        </a></span>
    </span>

</div>
<div class="background">
    <video class="bg-video" [muted]="true" autoplay loop>
        <source src="assets/video/videoplayback.mp4" type="video/mp4">
    </video>
</div>
<div class="footer">
    <div class="socials">
        <img src="../../assets/img/facebook.svg" alt="facebook">
        <a href="http://www.instagram.com/alert.trading"><img src="../../assets/img/instagram.svg" alt="instagram"></a>
        <img src="../../assets/img/youtube.svg" alt="youtube">
    </div>

    <p>
        There is a substantial risk of loss in trading commodity futures, options and off-exchange<br> foreign currency products. Past performance is not indicative of future results. <br>
        <br> &copy; 2020 | ALERT TRADING LIMITED | All Rights Reserved
    </p>
</div>